.stats-footer {
  background-color: var(--primary-blue);
  color: white;
  font-size: 13px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.stats-footer .footer-left {
  font-weight: 500;
}

.stats-footer .footer-center {
  text-align: center;
  flex: 1;
}