.cadre-container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    min-height: 70vh;
}

.cadre-title {
    text-align: center;
    color: #a00000;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

.cadre-box {
    background: #ffffff;
    border: 1px solid #ddd;
    padding: 15px;
}

.cadre-subtitle {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #a00000;
    text-decoration: underline;
    margin-bottom: 10px;
}

.cadre-pdf-wrapper {
    border: 1px solid #ccc;
    background: #111;
    padding: 5px;
    height: 650px;
}

.cadre-pdf {
    width: 100%;
    height: 100%;
    border: none;
}