.layout-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Push footer down */
.layout-content {
    flex: 1;
}

/* Header Styling */
.gov-header {
    background: white;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

.gov-header-inner {
    width: 100%;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.gov-logo {
    height: 70px;
    margin-right: 20px;
}

.gov-header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.gov-header h2 {
    margin: 0;
    font-size: 16px;
    color: #666;
}

header a {
    color: #1f4fa3;
    transition: 0.2s;
}

header a:hover {
    color: red;
}

.social-icons {
    position: fixed;
    top: 10px;
    right: 20px;
    display: flex;
    gap: 10px;
    z-index: 9999;
}

.social-icons a {
    font-size: 18px;
    color: #333;
}

.social-icons a:hover {
    color: #0056b3;
}